<!doctype html>
<title>{% block title %}{% endblock %} Tax Helper</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="/static/script.js" ></script>
<nav class="navigation">
  <h1>Tax Helper</h1>
  <ul>
    <li><a href="/">Landing Page</a>
    <li><a href="saved">Save progress</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %} 
  <body>
  {% block content %}
  
  {% endblock %}
  <footer><h3>Footer</h3></footer>
  </body>

  <script>
      function next(){
      var counter = localStorage.getItem("counter")
      var newCounter = parseInt(counter)
      localStorage.setItem("counter", newCounter +1)
      var input_fields = document.getElementsByClassName("input_field")
      for (i=0, len=Object.keys(input_fields).length; i<len; i++){
          localStorage.setItem(input_fields[i].name, input_fields[i].value)
      };
    };

    function back(){
      var counter = localStorage.getItem("counter")
      var newCounter = parseInt(counter)
      localStorage.setItem("counter", newCounter -1)
    };

    function show(){
      document.getElementById("testh2").style.visibility = "visible";
    };

    function hide(){
      document.getElementById("testh2").style.visibility = "hidden";
    };

    function clear(){
      localStorage.clear()
    };

    /* Set Skip value for certain cards if answer=yes (will be checked with yesNoCheck function)*/
    function yesNoSkip(type, answer){
      localStorage.setItem(type, answer)
    };

    /* Fill related parts of the form if answer=yes*/
    function yesNoFill(type, answer){
      localStorage.setItem(type, answer)
      if(answer==="yes"){
        else if(type="docRecipient"){}
        else if(type="differentWorkplace"){}
        else{};
      }
      else if(answer==="no"){
        if (type==="taxConsultant"){
          localStorage.###
        } 
      }
      else{};
    };

    /* Check for yesNoSkip Values in order to skip certain Cards */
    function yesNoCheck(count=0){
      if(count=1){}
      else{};
    };

    </script>  
</section>