{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="form2" class="formContainer"></div>
    <form action="" method="POST" id="3">
        <input type="radio" id='u_reli' name='u_reli' value="EV" checked> Evangelisch<br>
        <input type="radio" id='u_reli' name='u_reli' value="RK"> Römisch-Katolisch<br>
        <input type="radio" id='u_reli' name='u_reli' value="VD"> Nicht kirchensteuerpflichtig<br>
        <input id='submit5' type='submit' name='submit' class='submit' value=">">
        <button type="submit" id="back" onclick="back()"><</button>
    </form>
</div>
{% endblock %}