{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide"></div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Personal Informations</h1>
            </div>
            <div class="form">
                <form action="" method="POST" id="form2">
                  <p>Current job</p>
                  <input id='p_current_job' type='text' name='p_current_job' class='input_field'>
                  <p>Tax ID</p>
                  <input id='p_tax_id' type='text' name='p_tax_id' class='input_field'>
                </form>
            </div>
            <div class="button">
              <div class="centerButton">
                <a href="/main8" id="back" onclick="back()"><</a>
                <a href="/main10" id="submit" class="submit" name="test" onclick="next()">></a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}