{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
  <div class="textSide">Text</div>
  <div class="formSide">
    <form action="" method="POST" id="form1">
        <h1>Your Finanzamt</h1>
        <input id='finanzamt' type='text' name='finanzamt' class='input_field' placeholder="Finanzamt" autofocus ><br>
        <p>Enter the name of your tax office here</p>
        <a href="/main2" id="submit" class="submit" name="test2"onclick="next()">></a>
    </form>
  </div>
</div>
{% endblock %}