{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide">Text</div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Last Page</h1>
            </div>
            <div class="form">
              <form action="" method="POST" id="form2">
                    <p>Write down the City and Date</p>
                    <input id='city and date' type='text' name='city and date' class='input_field'>
              </form>
              </div>
            <div class="button">
                <div class="centerButton">
                    <a href="/main36" id="back" onclick="back()"><</a>
                    <a href="/saved" id="submit" class="submit" name="test" onclick="next()">></a>
                </div>
            </div>
        </div>
</div>
{% endblock %}