{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide">Text</div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Workplace</h1>
            </div>
            <div class="form">
              <form action="" method="POST" id="form2">
                    <p>What is the name of the company where you want your documents delivered to?</p></br>
                    <input id='firm_bezeichnung' type='text' name='firm_bezeichnung' class='input_field' placeholder="Company" autofocus>
              </form>
              </div>
            <div class="button">
                <div class="centerButton">
                    <a href="/main22" id="back" onclick="back()"><</a>
                    <a href="/main24" id="submit" class="submit" name="test" onclick="next()">></a>
                </div>
            </div>
        </div>
</div>
{% endblock %}