{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide"></div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Sales Tax ID</h1>
            </div>
            <div class="form">
              <form action="" method="POST" id="form2">
                    <p>When did you got it?</p>
                    <input id='pre_ustid_date' type='text' name='pre_ustid_date' class='input_field' placeholder="DD/MM/YYYY"autofocus>
              </form>
              </div>
            <div class="button">
                <div class="centerButton">
                        <a href="/main48" id="back" onclick="back()"><</a>
                        <a href="/main50" id="submit" class="submit" name="test" onclick="next()">></a>
                </div>
            </div>
        </div>
</div>
{% endblock %}