{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide">Text</div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Exptected Income</h1>
            </div>
            <div class="form">
              <form action="" method="POST" id="form2">
                    <p>Your expected income for the second year?</p></br>
                    <input id='u_betrag5' type='text' name='u_betrag5' class='input_field' placeholder="Amount in €" autofocus>Freelancing
                    <input id='u_betrag6' type='text' name='u_betrag6' class='input_field' placeholder="Amount in €">Non Freelancing
                    <input id='u_betrag7' type='text' name='u_betrag7' class='input_field' placeholder="Amount in €">Capital gains
                    <input id='u_betrag8' type='text' name='u_betrag8' class='input_field' placeholder="Amount in €">Other Income
              </form>
              </div>
            <div class="button">
                <div class="centerButton">
                    <a href="/main26" id="back" onclick="back()"><</a>
                    <a href="/main28" id="submit" class="submit" name="test" onclick="next()">></a>
                </div>
            </div>
        </div>
</div>
{% endblock %}