{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide"></div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Your new Profession</h1>
            </div>
            <div class="form">
              <form action="" method="POST" id="form2">
                  <p>So what tell us do you wanna do?</p><br>
                  <input id='art_taetigkeit' type='text' name='art_taetigkeit' class='input_field' placeholder="Freelance job description" autofocus ><br> 
              </form>
              </div>
            <div class="button">
                <div class="centerButton">
                    <a href="/main16" id="back" onclick="back()"><</a>
                    <a href="/main18" id="submit" class="submit" name="test" onclick="next()">></a>
                </div>
            </div>
        </div>
</div>
{% endblock %}