{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide"></div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Your Partner</h1>
            </div>
            <div class="form">
                <form action="" method="POST" id="form2">
                  <p>Where do they live?</p>
                  <input id='p_strasse' type='text' name='p_strasse' class='input_field' placeholder="Street">
                  <input id='p_hausnummer' type='text' name='p_hausnummer' class='input_field' placeholder="House number">
                  <input id='p_hausnummer_zusatz' type='text' name='p_hausnummer_zusatz' class='input_field' placeholder="House number add on">
                  <input id='p_postleitzahl' type='text' name='p_postleitzahl' class='input_field' placeholder="Post code">
                  <input id='p_city' type='text' name='p_city' class='input_field' placeholder="City">
                </form>
            </div>
            <div class="button">
              <div class="centerButton">
                <a href="/main11" id="back" onclick="back()"><</a>
                <a href="/main13" id="submit" class="submit" name="test" onclick="next()">></a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}