{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide"></div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Personal Informations</h1>
            </div>
            <div class="form">
              <div class="yNQuestion">
                <p>Do you have a Tax Consultant?</p></br>
                <div class="centerButton">
                    <a href="/main16" id="germanBtn" onclick="yesNoFill('taxConsultant','no')">No</a>
                    <a href="/main15" id="germanBtn" class="submit" onclick="yesNoSkip('taxConsultant','yes')">Yes</a>
              </div>
            </div>
            <div class="button"></div>
            </div>
        </div>
      </div>
{% endblock %}