<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Form Page 6</title>
</head>

<body>
    <input id="adresse" type="text" name="adresse" class=page6>
    <input id="strasse8" type="text" name="strasse8" class=page6>
    <input id="hausnummer12" type="text" name="hausnummer12" class=page6>
    <input id="hausnummer_zusatz12" type="text" name="hausnummer_zusatz12" class=page6>
    <input id="adressergaenzung10" type="text" name="adressergaenzung10" class=page6>
    <input id="postleitzahl16" type="text" name="postleitzahl16" class=page6>
    <input id="adr3" type="text" name="adr3" class=page6>

    <input id="betrag37" type="text" name="betrag37" class=page6>
    <input id="betrag38" type="text" name="betrag38" class=page6>

    <input id="art_des_umsatzes" type="text" name="art_des_umsatzes" class=page6>
    <input id="ustg" type="text" name="ustg" class=page6>
    <input id="art_des_umsatzes2" type="text" name="art_des_umsatzes2" class=page6>
    <input id="ustg2" type="text" name="ustg2" class=page6>
    <input id="art_des_umsatzes3" type="text" name="art_des_umsatzes3" class=page6>
    <input id="ustg3" type="text" name="ustg3" class=page6>
</body>

</html>