{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide"></div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Personal Informations</h1>
            </div>
            <div class="form">
              <div class="yNQuestion">
                <p>Are you married?</p></br>
                <div class="centerButton">
                    <a href="/main11" id="germanBtn" onclick="yesNoSkip('married','no')">No</a>
                    <a href="/main7" id="germanBtn" class="submit" onclick="yesNoSkip('married','yes')">Yes</a>
              </div>
            </div>
            <div class="button"></div>
            </div>
        </div>
      </div>
{% endblock %}