{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide"></div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Exptected Income</h1>
            </div>
            <div class="form">
              <form action="" method="POST" id="form2">
                    <p>Your expected income for the first year?</p></br>
                    <input id='u_betrag1' type='text' name='u_betrag1' class='largeNum' placeholder="Amount in €"><label for="u_betrag1">Freelancing</label>
                    <input id='u_betrag2' type='text' name='u_betrag2' class='largeNum' placeholder="Amount in €"><label for="u_betrag2">Non Freelancing</label></br>
                    <input id='u_betrag3' type='text' name='u_betrag3' class='largeNum' placeholder="Amount in €"><label for="u_betrag3">Capital gains</label>
                    <input id='u_betrag4' type='text' name='u_betrag4' class='largeNum' placeholder="Amount in €"><label for="u_betrag4">Other Income</label>
              </form>
              </div>
            <div class="button">
                <div class="centerButton">
                    <a href="/main25" id="back" onclick="back()"><</a>
                    <a href="/main27" id="submit" class="submit" name="test" onclick="next()">></a>
                </div>
            </div>
        </div>
</div>
{% endblock %}