{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide"></div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Your Partner</h1>
            </div>
            <div class="form">
              <form action="" method="POST" id="form2">
                <p>Fill this only If you have been married before and dont live together now.</p>
                <input id='widow_date' type='text' name='widow_date' class='input_field' placeholder="DD/MM/YYYY" autofocus>
                <input id='divorce_date' type='text' name='divorce_date' class='input_field' placeholder="DD/MM/YYYY">
                <input id='seperate_date' type='text' name='seperate_date' class='input_field' placeholder="DD/MM/YYYY">
              </form>
              </div>
            <div class="button">
              <div class="centerButton">
                  <a href="/main15" id="back" onclick="back()"><</a>
                  <a href="/main17" id="submit" class="submit" name="test" onclick="next()">></a>
              </div>
            </div>
        </div>
      </div>
{% endblock %}