{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide"></div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Document Recipient</h1>
            </div>
            <div class="form">
              <form action="" method="POST" id="form2">
                    <p>Whats the name of the recipient?...</p>
                    <input id='e_firstname' type='text' name='e_firstname' class='input_field' placeholder="First name" autofocus>
                    <input id='e_lastname' type='text' name='e_lastname' class='input_field' placeholder="Last name">
                    <p>...and their adress?</p>
                    <input id='e_strasse' type='text' name='e_strasse' class='input_field' placeholder="Street">
                    <input id='e_hausnummer' type='text' name='e_hausnummer' class='input_field' placeholder="House number">
                    <input id='e_hausnummer_zusatz' type='text' name='e_hausnummer_zusatz' class='input_field' placeholder="House number add-on">
                    <input id='e_postleitzahl' type='text' name='e_postleitzahl' class='input_field' placeholder="Post code">
                    <input id='e_city' type='text' name='e_city' class='input_field' placeholder="City">
                    <p>Can you share their contact details?</p>
                    <input id='e_tel_int_vorwahl' type='text' name='e_tel_int_vorwahl' class='input_field' placeholder="Country code">
                    <input id='e_vorwahl_tel' type='text' name='e_vorwahl_tel' class='input_field' placeholder="Area code">
                    <input id='e_rufnummer_tel' type='text' name='e_rufnummer_tel' class='input_field' placeholder="Phone number">
                    <input id='e_e_mail' type='text' name='e_e_mail' class='input_field' placeholder="Email">                 
              </form>
              </div>
            <div class="button">
                <div class="centerButton">
                    <a href="/main17" id="back" onclick="back()"><</a>
                    <a href="/main19" id="submit" class="submit" name="test" onclick="next()">></a>
                </div>
            </div>
        </div>
</div>
{% endblock %}