{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
  <div id="formContainer1" class="formContainer">
    <form action="" method="POST" id="form1">
        <h1>Your Finanzamt</h1>
        <input id='finanzamt' type='text' name='finanzamt' class='input_field' placeholder="Finanzamt" autofocus ></br>
        <p>Enter the name of your tax office here</p>
        <input id='submit1' type='submit' name='btnsubmit' class='submit' value=">">
    </form>
  </div> 
{% endblock %}