{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide">Text</div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Not So Personal Informations</h1>
            </div>
            <div class="form">
              <form action="" method="POST" id="form2">
                    <p>Do you recieve all your Tax relevant Documents?</p>
                    <input id='e_firstname' type='text' name='e_firstname' class='input_field'>
                    <input id='e_lastname' type='text' name='e_lastname' class='input_field'>
                    <p>Do you recieve all your Tax relevant Documents?</p>
                    <input id='e_strasse' type='text' name='e_strasse' class='input_field'>
                    <input id='e_hausnummer' type='text' name='e_hausnummer' class='input_field'>
                    <input id='e_hausnummer_zusatz' type='text' name='e_hausnummer_zusatz' class='input_field'>
                    <input id='e_adressergaenzung' type='text' name='e_adressergaenzung' class='input_field'>
                    <input id='e_postleitzahl' type='text' name='e_postleitzahl' class='input_field'>
                    <input id='e_city' type='text' name='e_city' class='input_field'>
                    <p>Do you recieve all your Tax relevant Documents?</p>
                    <input id='e_tel_int_vorwahl' type='text' name='e_tel_int_vorwahl' class='input_field'>
                    <input id='e_vorwahl_tel' type='text' name='e_vorwahl_tel' class='input_field'>
                    <input id='e_rufnummer_tel' type='text' name='e_rufnummer_tel' class='input_field'>
                    <input id='e_e_mail' type='text' name='e_e_mail' class='input_field'>                 
              </form>
              </div>
            <div class="button">
                <div class="centerButton">
                    <a href="/main17" id="back" onclick="back()"><</a>
                    <a href="/main19" id="submit" class="submit" name="test" onclick="next()">></a>
                </div>
            </div>
        </div>
</div>
{% endblock %}