{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="container main" class="grid">
        <div class="textSide">Text</div>
        <div class="formSide">
            <div class="title">
                <h1 id="title">Exptected Income</h1>
            </div>
            <div class="form">
              <form action="" method="POST" id="form2">
                    <p>The expected amount of "special" expenses of your Partner for the first year?</p></br>
                    <input id='u_sonderausgaben1' type='text' name='u_sonderausgaben1' class='input_field'>
                    <input id='u_steuerabzug1' type='text' name='u_steuerabzug1' class='input_field'>
                    <p>Your expected amount of "special" expenses of your Partner for the first year?</p></br>
                    <input id='u_sonderausgaben2' type='text' name='u_sonderausgaben2' class='input_field'>
                    <input id='u_steuerabzug2' type='text' name='u_steuerabzug2' class='input_field'>
              </form>
              </div>
            <div class="button">
                <div class="centerButton">
                    <a href="/main31" id="back" onclick="back()"><</a>
                    <a href="/main33" id="submit" class="submit" name="test" onclick="next()">></a>
                </div>
            </div>
        </div>
</div>
{% endblock %}