<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Test Page</title>
    <script src="jquery.min.js"></script>
    <script src=script.js ></script>
    
    <style>
      .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      };

      .card {
        background-color: blueviolet;
        max-width: 500px;
        margin: auto;
        border: 3px solid #73AD21;
      };
      </style>

  </head>
  <body>
    <main>
      <button type="submit" id="submitAll" onclick="safeToDb()">Submit All</button>
      <form action="" method="POST" id="form">
        <input type="text" id="userName" placeholder="Your name"></input>
        <input type="submit" id="submit"></input>
      </form>
    </main>
  </body>
</html>