{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div class="gridSave">
    <h1 id="title">Save</h1>
    <form action="" method="POST" id="form">
        <div class="centerForm">
            <fieldset>
            <legend>About you</legend>
            <input id='finanzamt' type='text' name='finanzamt' class='input_field' placeholder="Finanzamt">
            <div class="spacer">
            <input id='u_firstname' type='text' name='u_firstname' class='input_field' placeholder="First name">
            <input id='u_lastname' type='text' name='u_lastname' class='input_field' placeholder="Last name"></br>
            <input id='u_birth_name' type='text' name='u_birth_name' class='input_field' placeholder="Birth name">
            <input id='u_birthday' type='text' name='u_birthday' class='input_field' placeholder="Birthday"></br>
            </div>
            <div class="spacer">
            <h4>Adress</h4>
            <input id='u_strasse' type='text' name='u_strasse' class='input_field' placeholder="Street">
            <input id='u_hausnummer' type='text' name='u_hausnummer' class='shortNum' placeholder="Nr">
            <input id='u_hausnummer_zusatz' type='text' name='u_hausnummer_zusatz' class='shortNum'placeholder="House number add on"></br>
            <input id='u_postleitzahl' type='text' name='u_postleitzahl' class='mediumNum' placeholder="Post code">
            <input id='u_city' type='text' name='u_city' class='input_field' placeholder="City">
            </div>
            <div class="spacer">
            <h4>Contact Details</h4>
            <input id='tel_int_vorwahl' type='text' name='tel_int_vorwahl' class='shortNum' placeholder="Country code">
            <input id='vorwahl_tel' type='text' name='vorwahl_tel' class='mediumNum' placeholder="Area code">
            <input id='rufnummer_tel' type='text' name='rufnummer_tel' class='largeNum' placeholder="Phone number"></br>
            <input id='e_mail' type='text' name='e_mail' class='input_field' placeholder="Email">
            <input id='website' type='text' name='website' class='input_field' placeholder="Website">
            </div>
            <div class="centerForm">
                <h4>Church Tax</h4>
            <div class="center">    
                <input type="radio" id='u_reli' name='u_reli' value="EV">
                <label for="EV">Evangelic</label>
                <input type="radio" id='u_reli' name='u_reli' value="RK">
                <label for="EV">Roman Catholic</label><br>
                <input type="radio" id='u_reli' name='u_reli' value="VD" checked>
                <label for="EV">None</label><br>
            </div>
            </div>
            <div class="spacer">
            <h4>Other</h4>
            <input id='u_current_job' type='text' name='u_current_job' class='input_field' placeholder="Job">
            <input id='u_tax_id' type='text' name='u_tax_id' class='input_field' placeholder="Tax id"><br>
            </div>
            </fieldset>
            <fieldset>
            <legend>Partner and Marriage</legend>
            <div class="spacer">
            <input id='marriage_date' type='text' name='marriage_date' class='input_field' placeholder="DD/MM/YYYY"></br>
            </div>
            <div class="spacer">
            <h4>Partner</h4>
            <input id='p_firstname' type='text' name='p_firstname' class='input_field' placeholder="First name">
            <input id='p_lastname' type='text' name='p_lastname' class='input_field' placeholder="Last name"></br>
            <input id='p_birth_name' type='text' name='p_family_name' class='input_field' placeholder="Birth name">
            <input id='p_birthday' type='text' name='p_birthday' class='input_field' placeholder="Birthday">
            </div>
            <div class="spacer">
            <h4>Partner Adress</h4>
            <input id='p_strasse' type='text' name='p_strasse' class='input_field' placeholder="Street">
            <input id='p_hausnummer' type='text' name='p_hausnummer' class='shortNum' placeholder="House number">
            <input id='p_hausnummer_zusatz' type='text' name='p_hausnummer_zusatz' class='shortNum' placeholder="House number add on"></br>
            <input id='p_postleitzahl' type='text' name='p_postleitzahl' class='mediumNum' placeholder="Post code">
            <input id='p_city' type='text' name='p_city' class='input_field' placeholder="City">
            </div>
            <h4>Church Tax</h4>
            <div class="centerForm">
            <div class="center">
                <input type="radio" id='u_reli' name='u_reli' value="EV">
                <label for="EV">Evangelic</label><br>
                <input type="radio" id='u_reli' name='u_reli' value="RK">
                <label for="EV">Roman Catholic</label><br>
                <input type="radio" id='u_reli' name='u_reli' value="VD" checked>
                <label for="EV">None</label><br>
            </div>
            </div>
            <div class="spacer">
            <h4>Other</h4>
            <input id='p_current_job' type='text' name='p_current_job' class='input_field' placeholder="Job title">
            <input id='p_tax_id' type='text' name='p_tax_id' class='input_field' placeholder="Tax id">
            </div>
            <div class="spacer">
            <h4>Previous Marriages</h4>
            <input id='widow_date' type='text' name='widow_date' class='input_field' placeholder="DD/MM/YYYY">
            <input id='divorce_date' type='text' name='divorce_date' class='input_field' placeholder="DD/MM/YYYY">
            <input id='seperate_date' type='text' name='seperate_date' class='input_field' placeholder="DD/MM/YYYY">
            </div>
            </fieldset>
            <fieldset>
            <legend>Tax Consultant and Document recipient</legend>
            <div class="spacer">
            <input id='art_taetigkeit' type='text' name='art_taetigkeit' class='input_field' placeholder="Freelance job description"><br>
            </div>
            <div class="spacer">
            <h4>Tax Consultant</h4>
            <input id='steuerberater' type='text' name='steuerberater' class='input_field' placeholder="Consultant office"></br>
            <input id='b_firstname' type='text' name='b_firstname' class='input_field' placeholder="First name">
            <input id='b_lastname' type='text' name='b_lastname' class='input_field' placeholder="Last name"></br>
            </div>
            <div class="spacer">
            <h4>Consultant Adress</h4>
            <input id='b_strasse' type='text' name='b_strasse' class='input_field' placeholder="Street">
            <input id='b_hausnummer' type='text' name='b_hausnummer' class='shortNum' placeholder="House number">
            <input id='b_hausnummer_zusatz' type='text' name='b_hausnummer_zusatz' class='shortNum' placeholder="House number add on"></br>
            <input id='b_postleitzahl' type='text' name='b_postleitzahl' class='mediumNum' placeholder="Post code">
            <input id='b_ort' type='text' name='b_ort' class='input_field' placeholder="City">
            </div>
            <div class="spacer">
            <h4>Contact Details</h4>
            <input id='b_tel_int_vorwahl' type='text' name='b_tel_int_vorwahl' class='input_field' placeholder="Country code">
            <input id='b_vorwahl_tel' type='text' name='b_vorwahl_tel' class='mediumNum' placeholder="Area code">
            <input id='b_rufnummer_tel' type='text' name='b_rufnummer_tel' class='largeNum' placeholder="Phone number"></br>
            <input id='b_e_mail' type='text' name='b_e_mail' class='input_field' placeholder="Email">
            </div>
            <div class="spacer">
            <h4>Document Recipient</h4>
            <input id='e_firstname' type='text' name='e_firstname' class='input_field' placeholder="First name">
            <input id='e_lastname' type='text' name='e_lastname' class='input_field' placeholder="Last name">
            </div>
            <div class="spacer">
            <h4>Recipient Adress</h4>
            <input id='e_strasse' type='text' name='e_strasse' class='input_field' placeholder="Street">
            <input id='e_hausnummer' type='text' name='e_hausnummer' class='shortNum' placeholder="House number">
            <input id='e_hausnummer_zusatz' type='text' name='e_hausnummer_zusatz' class='shortNum' placeholder="House number add-on"></br>
            <input id='e_postleitzahl' type='text' name='e_postleitzahl' class='mediumNum' placeholder="Post code">
            <input id='e_city' type='text' name='e_city' class='input_field' placeholder="City">
            </div>
            <div class="spacer">
            <h4>Recipient Contact Details</h4>
            <input id='e_tel_int_vorwahl' type='text' name='e_tel_int_vorwahl' class='input_field' placeholder="Country code">
            <input id='e_vorwahl_tel' type='text' name='e_vorwahl_tel' class='mediumNum' placeholder="Area code">
            <input id='e_rufnummer_tel' type='text' name='e_rufnummer_tel' class='largeNum' placeholder="Phone number"></br>
            <input id='e_e_mail' type='text' name='e_e_mail' class='input_field' placeholder="Email"></br>
            </div>
            </fieldset>
            <fieldset>
            <legend>Other</legend>
            <div class="spacer">
            <input id='migration_date' type='text' name='migration_date' class='input_field' placeholder="DD/MM/YYYY">
            </div>
            <div class="spacer">
            <h4>Previous Residence</h4>
            <input id='pre_strasse' type='text' name='pre_strasse' class='input_field' placeholder="Street">
            <input id='pre_hausnummer' type='text' name='pre_hausnummer' class='shortNum' placeholder="House number">
            <input id='pre_hausnummer_zusatz' type='text' name='pre_hausnummer_zusatz' class='shortNum' placeholder="House number add on"></br>
            <input id='pre_postleitzahl' type='text' name='pre_postleitzahl' class='mediumNum' placeholder="Post code">
            <input id='pre_city' type='text' name='pre_city' class='input_field' placeholder="City">
            </div>
            <div class="spacer">
            <h4>Old (German) Tax ID</h4>
            <input id='pre_finanzamt' type='text' name='pre_finanzamt' class='input_field' placeholder="Tax Office">
            <input id='pre_steuernummer' type='text' name='pre_steuernummer' class='input_field' placeholder="Tax id"></br>
            </div>
            <div class="spacer">
            <h4>Workplace</h4>
            <input id='firm_bezeichnung' type='text' name='firm_bezeichnung' class='input_field' placeholder="Company">
            <input id='firm_strasse' type='text' name='firm_strasse' class='input_field' placeholder="Street">
            <input id='firm_hausnummer' type='text' name='firm_hausnummer' class='shortNum' placeholder="Nr">
            <input id='firm_hausnummer_zusatz' type='text' name='firm_hausnummer_zusatz' class='shortNum' placeholder="Addon"></br>
            <input id='firm_postleitzahl' type='text' name='firm_postleitzahl' class='mediumNum' placeholder="Post code">
            <input id='firm_city' type='text' name='firm_city' class='input_field' placeholder="City">
            </div>
            <div class="spacer">
            <h4>Workplace Contact Details</h4>
            <input id='firm_tel_int_vorwahl' type='text' name='firm_tel_int_vorwahl' class='shortNum' placeholder="Country code">
            <input id='firm_vorwahl_tel' type='text' name='firm_vorwahl_tel' class='mediumNum' placeholder="Area code">
            <input id='firm_rufnummer_tel' type='text' name='firm_rufnummer_tel' class='largeNum' placeholder="Phone number"></br>   
            <input id='firm_e_mail' type='text' name='firm_e_mail' class='input_field' placeholder="Email">
            <input id='firm_website' type='text' name='firm_website' class='input_field' placeholder="Website">
            </div>
            <div class="spacer">
            <h4>Start of self-employment</h4>
            <input id='work_date' type='text' name='work_date' class='input_field' placeholder="DD/MM/YYYY">
            </div>
            </fieldset>
            <fieldset>
            <legend>Bank Details and Expected Income</legend>
            <div class="spacer">
            <h4>Bank Details</h4>
            <input id='iban_de1' type='text' name='iban_de1' class='input_field' placeholder="IBAN DE">
            <input id='iban_int1' type='text' name='iban_int1' class='input_field' placeholder="IBAN International">
            <input id='bic1' type='text' name='bic1' class='input_field' placeholder="BIC"></br>
            <input id='holder1' type='text' name='holder1' class='input_field' placeholder="Holder">
            </div>
            <div class="spacer">
            <h4>Income First Year</h4>
                <input id='u_betrag1' type='text' name='u_betrag1' class='largeNum' placeholder="Amount in €"><label for="u_betrag1">Freelancing</label>
                <input id='u_betrag2' type='text' name='u_betrag2' class='largeNum' placeholder="Amount in €"><label for="u_betrag2">Non Freelancing</label></br>
                <input id='u_betrag3' type='text' name='u_betrag3' class='largeNum' placeholder="Amount in €"><label for="u_betrag3">Capital gains</label>
                <input id='u_betrag4' type='text' name='u_betrag4' class='largeNum' placeholder="Amount in €"><label for="u_betrag4">Other Income</label>
            </div>
            <div class="spacer">
            <h4>Income Second Year</h4>
                <input id='u_betrag5' type='text' name='u_betrag5' class='largeNum' placeholder="Amount in €"><label for="u_betrag5">Freelancing</label>
                <input id='u_betrag6' type='text' name='u_betrag6' class='largeNum' placeholder="Amount in €"><label for="u_betrag6">Non Freelancing</label></br>
                <input id='u_betrag7' type='text' name='u_betrag7' class='largeNum' placeholder="Amount in €"><label for="u_betrag7">Capital gains</label>
                <input id='u_betrag8' type='text' name='u_betrag8' class='largeNum' placeholder="Amount in €"><label for="u_betrag8">Other Income</label>
            </div>
            <div class="spacer">
            <h4>Special Expenses and Tax deductions</h4>
            <input id='u_sonderausgaben1' type='text' name='u_sonderausgaben1' class='largeNum' placeholder="Amount in €"><label for="u_sonderausgaben1">Special Expenses</label>
            <input id='u_steuerabzug1' type='text' name='u_steuerabzug1' class='largeNum' placeholder="Amount in €"><label for="u_steuerabzug1">Tax deductions</label></br>
            <input id='u_sonderausgaben2' type='text' name='u_sonderausgaben2' class='largeNum' placeholder="Amount in €"><label for="u_sonderausgaben2">Special Expenses</label>
            <input id='u_steuerabzug2' type='text' name='u_steuerabzug2' class='largeNum' placeholder="Amount in €"><label for="u_steuerabzug2">Tax deductions</label>
            </div>
            <div class="spacer">
            <h4>Total</h4>
            <input id='sum1' type='text' name='sum1' class='largeNum' placeholder="Amount in €"><label for="sum1">Total First Year</label>
            <input id='sum2' type='text' name='sum2' class='largeNum' placeholder="Amount in €"><label for="sum2">Total Second Year</label>
            </div>
            <div class="spacer">
            <h4>Partner Income First Year</h4>
                <input id='p_betrag1' type='text' name='p_betrag1' class='largeNum' placeholder="Amount in €"><label for="p_betrag1">Freelancing</label>
                <input id='p_betrag2' type='text' name='p_betrag2' class='largeNum' placeholder="Amount in €"><label for="p_betrag2">Non Freelancing</label></br>
                <input id='p_betrag3' type='text' name='p_betrag3' class='largeNum' placeholder="Amount in €"><label for="p_betrag3">Capital gains</label>
                <input id='p_betrag4' type='text' name='p_betrag4' class='largeNum' placeholder="Amount in €"><label for="p_betrag4">Other Income</label>
            </div>
            <div class="spacer">   
            <h4>Partner Income Second Year</h4> 
                <input id='p_betrag5' type='text' name='p_betrag5' class='largeNum' placeholder="Amount in €"><label for="p_betrag5">Freelancing</label>
                <input id='p_betrag6' type='text' name='p_betrag6' class='largeNum' placeholder="Amount in €"><label for="p_betrag6">Non Freelancing</label></br>
                <input id='p_betrag7' type='text' name='p_betrag7' class='largeNum' placeholder="Amount in €"><label for="p_betrag7">Capital gains</label>
                <input id='p_betrag8' type='text' name='p_betrag8' class='largeNum' placeholder="Amount in €"><label for="p_betrag8">Other Income</label>
            </div>
            <div class="spacer"> 
            <h4>Partner Special Expenses and Tax deductions</h4>  
                <input id='u_sonderausgaben1' type='text' name='u_sonderausgaben1' class='largeNum' placeholder="Amount in €"><label for="p_sonderausgaben1">Special Expenses</label>
                <input id='u_steuerabzug1' type='text' name='u_steuerabzug1' class='largeNum' placeholder="Amount in €"><label for="p_steuerabzug1">Tax deductions</label></br>
                <input id='u_sonderausgaben2' type='text' name='u_sonderausgaben2' class='largeNum' placeholder="Amount in €"><label for="p_sonderausgaben2">Special Expenses</label>
                <input id='u_steuerabzug2' type='text' name='u_steuerabzug2' class='largeNum' placeholder="Amount in €"><label for="p_steuerabzug2">Tax deductions</label>
            </div>
            <div class="spacer"> 
            <h4>Other</h4> 
                <input id='sonstig' type='text' name='sonstig' class='input_field' placeholder="Description">
            </div>
            </fieldset>
            <fieldset>
            <legend>Rest</legend>
            <div class="spacer"> 
            <h4>Tax Exemption</h4>
            <input id='steuerbefreiung' type='text' name='steuerbefreiung' class='input_field' placeholder="Description">
            <input id='steuerbefreiung_art' type='text' name='steuerbefreiung_art' class='shortNum' placeholder="Article">
            </div>
            <div class="spacer"> 
            <h4>Different Tax Rate</h4>
            <input id='steuersatz' type='text' name='steuersatz' class='input_field' placeholder="Description">
            <input id='steuersatz_art' type='text' name='steuersatz_art' class='shortNum' placeholder="Arcticle">
            </div>
            <div class="spacer">
            <h4>Previous (German) Sales-tax ID</h4>
            <input id='pre_ustid' type='text' name='pre_ustid' class='input_field' placeholder="Sales tax id">
            <input id='pre_ustid_date' type='text' name='pre_ustid_date' class='input_field' placeholder="DD/MM/YYYY">
            </div>
            <div class="spacer">
            <h4>City and Date</h4>
            <input id='city and date' type='text' name='city and date' class='input_field' placeholder="City, DD/MM/YYYY">
            </div>
            </fieldset>
            <input type="submit" value="Send" id="submit">
        </div> 
    </form> 
</div>

{% endblock %}