<input id='iban_de1' type='text' name='iban_de1' class='input_field'>
<input id='iban_int1' type='text' name='iban_int1' class='input_field'>
<input id='bic1' type='text' name='bic1' class='input_field'>
<input id='holder1' type='text' name='holder1' class='input_field'>


<!--Betriebssteuererstattung/notwendig?-->
<input id='iban_de2' type='text' name='iban_de2' class='input_field'>
<input id='iban_int2' type='text' name='iban_int2' class='input_field'>
<input id='bic2' type='text' name='bic2' class='input_field'>
<input id='holder2' type='text' name='holder2' class='input_field'>


<!--Steuerberater ja nein?-->

<input id='steuerberater' type='text' name='steuerberater' class='input_field'>
<input id='b_lastname' type='text' name='b_lastname' class='input_field'>
<input id='b_firstname' type='text' name='b_firstname' class='input_field'>
<input id='b_strasse' type='text' name='b_strasse' class='input_field'>
<input id='b_hausnummer' type='text' name='b_hausnummer' class='input_field'>
<input id='b_hausnummer_zusatz' type='text' name='b_hausnummer_zusatz' class='input_field'>
<input id='b_adressergaenzung' type='text' name='b_adressergaenzung' class='input_field'>
<input id='b_postleitzahl' type='text' name='b_postleitzahl' class='input_field'>
<input id='b_ort' type='text' name='b_ort' class='input_field'>
<input id='b_tel_int_vorwahl' type='text' name='b_tel_int_vorwahl' class='input_field'>
<input id='b_vorwahl_tel' type='text' name='b_vorwahl_tel' class='input_field'>
<input id='b_rufnummer_tel' type='text' name='b_rufnummer_tel' class='input_field'>
<input id='b_e_mail' type='text' name='b_e_mail' class='input_field'>

<!--Dokumente nicht an dich?-->


<input id='e_firma' type='text' name='e_firma' class='input_field'>
<input id='e_lastname' type='text' name='e_lastname' class='input_field'>
<input id='e_firstname' type='text' name='e_firstname' class='input_field'>
<input id='e_strasse' type='text' name='e_strasse' class='input_field'>
<input id='e_hausnummer' type='text' name='e_hausnummer' class='input_field'>
<input id='e_hausnummer_zusatz' type='text' name='e_hausnummer_zusatz' class='input_field'>
<input id='e_adressergaenzung' type='text' name='e_adressergaenzung' class='input_field'>
<input id='e_postleitzahl' type='text' name='e_postleitzahl' class='input_field'>
<input id='e_city' type='text' name='e_city' class='input_field'>
<input id='e_tel_int_vorwahl' type='text' name='e_tel_int_vorwahl' class='input_field'>
<input id='e_vorwahl_tel' type='text' name='e_vorwahl_tel' class='input_field'>
<input id='e_rufnummer_tel' type='text' name='e_rufnummer_tel' class='input_field'>
<input id='e_e_mail' type='text' name='e_e_mail' class='input_field'>

<input id='migration_date' type='text' name='migration_date' class='input_field'>

<input id='pre_strasse' type='text' name='pre_strasse' class='input_field'>
<input id='pre_hausnummer' type='text' name='pre_hausnummer' class='input_field'>
<input id='pre_hausnummer_zusatz' type='text' name='pre_hausnummer_zusatz' class='input_field'>
<input id='pre_adressergaenzung' type='text' name='pre_adressergaenzung' class='input_field'>
<input id='pre_postleitzahl' type='text' name='pre_postleitzahl' class='input_field'>
<input id='pre_city' type='text' name='pre_city' class='input_field'>

<!--Nur Deutsche-->
<input id='pre_finanzamt' type='text' name='pre_finanzamt' class='input_field'>
<input id='pre_steuernummer' type='text' name='pre_steuernummer' class='input_field'>

<input id='firm_bezeichnung' type='text' name='firm_bezeichnung' class='input_field'>
<input id='firm_strasse' type='text' name='firm_strasse' class='input_field'>
<input id='firm_hausnummer' type='text' name='firm_hausnummer' class='input_field'>
<input id='firm_hausnummer_zusatz' type='text' name='firm_hausnummer_zusatz' class='input_field'>
<input id='firm_adressergaenzung' type='text' name='firm_adressergaenzung' class='input_field'>
<input id='firm_postleitzahl' type='text' name='firm_postleitzahl' class='input_field'>
<input id='firm_city' type='text' name='firm_city' class='input_field'>
<input id='firm_tel_int_vorwahl' type='text' name='firm_tel_int_vorwahl' class='input_field'>
<input id='firm_vorwahl_tel' type='text' name='firm_vorwahl_tel' class='input_field'>
<input id='firm_rufnummer_tel' type='text' name='firm_rufnummer_tel' class='input_field'>
<input id='firm_e_mail' type='text' name='firm_e_mail' class='input_field'>
<input id='firm_website' type='text' name='firm_website' class='input_field'>

<input id='work_date' type='text' name='work_date' class='input_field'>


<!--erstmal auslassen-->
<input id='work_bezeichnung1' type='text' name='work_bezeichnung1' class='input_field'>
<input id='work_strasse1' type='text' name='work_strasse1' class='input_field'>
<input id='work_hausnummer1' type='text' name='work_hausnummer1' class='input_field'>
<input id='work_hausnummer_zusatz1' type='text' name='work_hausnummer_zusatz1' class='input_field'>
<input id='work_adressergaenzung1' type='text' name='work_adressergaenzung1' class='input_field'>
<input id='work_postleitzahl1' type='text' name='work_postleitzahl1' class='input_field'>
<input id='work_city1' type='text' name='work_city1' class='input_field'>
<input id='work_tel_int_vorwahl1' type='text' name='work_tel_int_vorwahl1' class='input_field'>
<input id='work_vorwahl_tel1' type='text' name='work_vorwahl_tel1' class='input_field'>
<input id='work_rufnummer_tel1' type='text' name='work_rufnummer_tel1' class='input_field'>

<input id='work_bezeichnung2' type='text' name='work_bezeichnung2' class='input_field'>
<input id='work_strasse2' type='text' name='work_strasse2' class='input_field'>
<input id='work_hausnummer2' type='text' name='work_hausnummer2' class='input_field'>
<input id='work_hausnummer_zusatz2' type='text' name='work_hausnummer_zusatz2' class='input_field'>
<input id='work_adressergaenzung2' type='text' name='work_adressergaenzung2' class='input_field'>
<input id='work_postleitzahl2' type='text' name='work_postleitzahl2' class='input_field'>
<input id='work_city2' type='text' name='work_city2' class='input_field'>
<input id='work_tel_int_vorwahl2' type='text' name='work_tel_int_vorwahl2' class='input_field'>
<input id='work_vorwahl_tel2' type='text' name='work_vorwahl_tel2' class='input_field'>
<input id='work_rufnummer_tel2' type='text' name='work_rufnummer_tel2' class='input_field'>



<!--erstmal auslassen-->
<input id='neugründungsdate' type='text' name='neugründungsdate' class='input_field'>
<input id='new_bezeichnung' type='text' name='new_bezeichnung' class='input_field'>
<input id='new_lastname' type='text' name='new_lastname' class='input_field'>
<input id='new_firstname' type='text' name='new_firstname' class='input_field'>
<input id='new_strasse' type='text' name='new_strasse' class='input_field'>
<input id='new_hausnummer' type='text' name='new_hausnummer' class='input_field'>
<input id='new_hausnummer_zusatz' type='text' name='new_hausnummer_zusatz' class='input_field'>
<input id='new_adressergaenzung' type='text' name='new_adressergaenzung' class='input_field'>
<input id='new_postleitzahl' type='text' name='new_postleitzahl' class='input_field'>
<input id='new_city' type='text' name='new_city' class='input_field'>

<input id='new_tax_id' type='text' name='new_tax_id' class='input_field'>
<input id='new_steuernummer' type='text' name='new_steuernummer' class='input_field'>

<input id='new_ustid' type='text' name='new_ustid' class='input_field'>

<input id='u_betrag1' type='text' name='u_betrag1' class='input_field'>
<input id='u_betrag2' type='text' name='u_betrag2' class='input_field'>
<input id='u_betrag3' type='text' name='u_betrag3' class='input_field'>
<input id='u_betrag4' type='text' name='u_betrag4' class='input_field'>
<input id='u_betrag5' type='text' name='u_betrag5' class='input_field'>
<input id='u_betrag6' type='text' name='u_betrag6' class='input_field'>
<input id='u_betrag7' type='text' name='u_betrag7' class='input_field'>
<input id='u_betrag8' type='text' name='u_betrag8' class='input_field'>
<input id='u_sonderausgaben1' type='text' name='u_sonderausgaben1' class='input_field'>
<input id='u_steuerabzug1' type='text' name='u_steuerabzug1' class='input_field'>
<input id='u_sonderausgaben2' type='text' name='u_sonderausgaben2' class='input_field'>
<input id='u_steuerabzug2' type='text' name='u_steuerabzug2' class='input_field'>

<input id='p_betrag1' type='text' name='p_betrag1' class='input_field'>
<input id='p_betrag2' type='text' name='p_betrag2' class='input_field'>
<input id='p_betrag3' type='text' name='p_betrag3' class='input_field'>
<input id='p_betrag4' type='text' name='p_betrag4' class='input_field'>
<input id='p_betrag5' type='text' name='p_betrag5' class='input_field'>
<input id='p_betrag6' type='text' name='p_betrag6' class='input_field'>
<input id='p_betrag7' type='text' name='p_betrag7' class='input_field'>
<input id='p_betrag8' type='text' name='p_betrag8' class='input_field'>
<input id='p_sonderausgaben1' type='text' name='p_sonderausgaben1' class='input_field'>
<input id='p_steuerabzug1' type='text' name='p_steuerabzug1' class='input_field'>
<input id='p_sonderausgaben2' type='text' name='p_sonderausgaben2' class='input_field'>
<input id='p_steuerabzug2' type='text' name='p_steuerabzug2' class='input_field'>

<input id='sonstig' type='text' name='sonstig' class='input_field'>
<input id='sum1' type='text' name='sum1' class='input_field'>
<input id='sum2' type='text' name='sum2' class='input_field'>

<input id='steuerbefreiung' type='text' name='steuerbefreiung' class='input_field'>
<input id='steuerbefreiung_art' type='text' name='steuerbefreiung_art' class='input_field'>

<input id='steuersatz' type='text' name='steuersatz' class='input_field'>
<input id='steuersatz_art' type='text' name='steuersatz_art' class='input_field'>

<input id='durchschnittssteuer' type='text' name='durchschnittssteuer' class='input_field'>
<input id='durchschnittssteuer_art' type='text' name='durchschnittssteuer_art' class='input_field'>

<input id='pre_ustid' type='text' name='pre_ustid' class='input_field'>
<input id='pre_ustid_date' type='text' name='pre_ustid_date' class='input_field'>

<input id='city and date' type='text' name='city and date' class='input_field'>