<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Form Page 2</title>
</head>

<body>
    <input id="iban" type="text" name="iban" class=page2>
    <input id="iban3" type="text" name="iban3" class=page2>
    <input id="iban4" type="text" name="iban4" class=page2>
    <input id="iban5" type="text" name="iban5" class=page2>
    <input id="iban6" type="text" name="iban6" class=page2>
    <input id="iban7" type="text" name="iban7" class=page2>
    <input id="iban2" type="text" name="iban2" class=page2>
    <input id="iban8" type="text" name="iban8" class=page2>
    <input id="iban9" type="text" name="iban9" class=page2>
    <input id="iban10" type="text" name="iban10" class=page2>
    <input id="iban11" type="text" name="iban11" class=page2>
    <input id="iban13" type="text" name="iban13" class=page2>
    <input id="iban14" type="text" name="iban14" class=page2>
    <input id="iban15" type="text" name="iban15" class=page2>
    <input id="iban12" type="text" name="iban12" class=page2>
    <input id="bic" type="text" name="bic" class=page2>

    <input id="abweichender_ktoinhaber" type="text" name="abweichender_ktoinhaber" class=page2>
    <input id="iban16" type="text" name="iban16" class=page2>
    <input id="iban17" type="text" name="iban17" class=page2>
    <input id="iban18" type="text" name="iban18" class=page2>
    <input id="iban19" type="text" name="iban19" class=page2>
    <input id="iban20" type="text" name="iban20" class=page2>
    <input id="iban21" type="text" name="iban21" class=page2>
    <input id="iban22" type="text" name="iban22" class=page2>
    <input id="iban23" type="text" name="iban23" class=page2>
    <input id="iban24" type="text" name="iban24" class=page2>
    <input id="iban25" type="text" name="iban25" class=page2>
    <input id="iban26" type="text" name="iban26" class=page2>
    <input id="iban27" type="text" name="iban27" class=page2>
    <input id="iban28" type="text" name="iban28" class=page2>
    <input id="iban29" type="text" name="iban29" class=page2>
    <input id="iban30" type="text" name="iban30" class=page2>
    <input id="bic2" type="text" name="bic2" class=page2>

    <input id="abweichender_ktoinhaber2" type="text" name="abweichender_ktoinhaber2" class=page2>
    <input id="iban31" type="text" name="iban31" class=page2>
    <input id="iban32" type="text" name="iban32" class=page2>
    <input id="iban33" type="text" name="iban33" class=page2>
    <input id="iban34" type="text" name="iban34" class=page2>
    <input id="iban35" type="text" name="iban35" class=page2>
    <input id="iban36" type="text" name="iban36" class=page2>
    <input id="iban37" type="text" name="iban37" class=page2>
    <input id="iban38" type="text" name="iban38" class=page2>
    <input id="iban39" type="text" name="iban39" class=page2>
    <input id="iban40" type="text" name="iban40" class=page2>
    <input id="iban41" type="text" name="iban41" class=page2>
    <input id="iban42" type="text" name="iban42" class=page2>
    <input id="iban43" type="text" name="iban43" class=page2>
    <input id="iban44" type="text" name="iban44" class=page2>
    <input id="iban45" type="text" name="iban45" class=page2>
    <input id="bic3" type="text" name="bic3" class=page2>
    
    <input id="firma" type="text" name="firma" class=page2>
    <input id="name3" type="text" name="name3" class=page2>
    <input id="vorname3" type="text" name="vorname3" class=page2>
    <input id="strasse3" type="text" name="strasse3" class=page2>
    <input id="hausnummer3" type="text" name="hausnummer3" class=page2>
    <input id="hausnummer_zusatz3" type="text" name="hausnummer_zusatz3" class=page2>
    <input id="adressergaenzung2" type="text" name="adressergaenzung2" class=page2>
    <input id="postleitzahl4" type="text" name="postleitzahl4" class=page2>
    <input id="ort3" type="text" name="ort3" class=page2>
    <input id="postleitzahl5" type="text" name="postleitzahl5" class=page2>
    <input id="ort_postfach" type="text" name="ort_postfach" class=page2>
    <input id="postfach2" type="text" name="postfach2" class=page2>
    <input id="tel_intern_vorwahl2" type="text" name="tel_intern_vorwahl2" class=page2>
    <input id="vorwahl_tel2" type="text" name="vorwahl_tel2" class=page2>
    <input id="rufnummer_tel2" type="text" name="rufnummer_tel2" class=page2>
    <input id="e_mail2" type="text" name="e_mail2" class=page2>

</body>

</html>