<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Form Page 1</title>
    <script async src=script.js ></script>
  </head>

<body>
    <form action="" method="POST">
      <input id='finanzamt' type='text' name='finanzamt' class='input_field'>
      <input id='submit' type='submit' name='submit' class='submit'>
    </form>
    <form action="" method="POST">
      <fieldset>
        <legend>Personal information:</legend>
        <input id='u_lastname' type='text' name='u_lastname' class='input_field'>
        <input id='u_firstname' type='text' name='u_firstname' class='input_field'>
        <input id='u_family_name' type='text' name='u_family_name' class='input_field'>
        <input id='u_birthday' type='text' name='u_birthday' class='input_field'>
        <input id='u_strasse' type='text' name='u_strasse' class='input_field'>
        <input id='u_hausnummer' type='text' name='u_hausnummer' class='input_field'>
        <input id='u_hausnummer_zusatz' type='text' name='u_hausnummer_zusatz' class='input_field'>
        <input id='u_adressergaenzung' type='text' name='u_adressergaenzung' class='input_field'>
        <input id='u_postleitzahl' type='text' name='u_postleitzahl' class='input_field'>
        <input id='u_city' type='text' name='u_city' class='input_field'>
      </fieldset>
    <form action="" method="POST">
      <fieldset>
        <input id='tel_int_vorwahl' type='text' name='tel_int_vorwahl' class='input_field'>
        <input id='vorwahl_tel' type='text' name='vorwahl_tel' class='input_field'>
        <input id='rufnummer_tel' type='text' name='rufnummer_tel' class='input_field'>
        <input id='e_mail' type='text' name='e_mail' class='input_field'>
        <input id='website' type='text' name='website' class='input_field'> 
      </fieldset>
    </form>
    <form action="" method="POST">
      <input id='u_current_job' type='text' name='u_current_job' class='input_field'>
    </form>
    <form action="" method="POST">
      <input type="radio" id='u_reli' name='u_reli' value="EV" checked> Evangelisch<br>
      <input type="radio" id='u_reli' name='u_reli' value="RK"> Römisch-Katolisch<br>
      <input type="radio" id='u_reli' name='u_reli' value="VD"> Nicht kirchensteuerpflichtig<br>
      <input id='submit' type='submit' name='submit' class='submit'>
    </form>
    <p>Are you German?</p>
    <button type="submit" id="submitAll" onclick="german()">Yes</button>
    <button type="submit" id="submitAll" onclick="notGerman()">No</button>
    <form action="" method="POST"> 
      <input id='u_tax_id' type='text' name='u_tax_id' class='input_field'>
      <input id='submit' type='submit' name='submit' class='submit'>
    </form> 
    <p>Are you married and together?</p>
    <button type="submit" id="submitAll" onclick="married()">Yes</button>
    <button type="submit" id="submitAll" onclick="notMarried()">No</button>
    <form action="" method="POST">
      <input id='marriage_date' type='text' name='marriage_date' class='input_field'>
    </form>
    <form action="" method="POST">
      <input type="radio" id='prev_marriage' name='prev_marriage' value="W" onclick="widowed()"> Widowed<br>
      <input type="radio" id='prev_marriage' name='prev_marriage' value="D" onclick="divorced()"> Divorced<br>
      <input type="radio" id='prev_marriage' name='prev_marriage' value="S" onclick="seperated()"> Seperated<br>
      <input id='widow_date' type='text' name='widow_date' class='input_field'>
      <input id='divorce_date' type='text' name='divorce_date' class='input_field'>
      <input id='seperate_date' type='text' name='seperate_date' class='input_field'>
      <input id='submit' type='submit' name='submit' class='submit'>
    </form>
  <form action="" method="POST">
    <fieldset>  
      <input id='p_lastname' type='text' name='p_lastname' class='input_field'>
      <input id='p_firstname' type='text' name='p_firstname' class='input_field'>
      <input id='p_family_name' type='text' name='p_family_name' class='input_field'>
      <input id='p_current_job' type='text' name='p_current_job' class='input_field'>
      <input id='p_birthday' type='text' name='p_birthday' class='input_field'>
      <input id='p_strasse' type='text' name='p_strasse' class='input_field'>
      <input id='p_hausnummer' type='text' name='p_hausnummer' class='input_field'>
      <input id='p_hausnummer_zusatz' type='text' name='p_hausnummer_zusatz' class='input_field'>
      <input id='p_adressergaenzung' type='text' name='p_adressergaenzung' class='input_field'>
      <input id='p_postleitzahl' type='text' name='p_postleitzahl' class='input_field'>
      <input id='p_city' type='text' name='p_city' class='input_field'>
      <input id='p_tax_id' type='text' name='p_tax_id' class='input_field'>
      <input type="radio" id='p_reli' name='p_reli' value="EV" checked> Evangelisch<br>
      <input type="radio" id='p_reli' name='p_reli' value="RK"> Römisch-Katolisch<br>
      <input type="radio" id='p_reli' name='p_reli' value="VD"> Nicht kirchensteuerpflichtig<br>
      <input id='submit' type='submit' name='submit' class='submit'>
    </fieldset>  
  </form> 
  <form>
    <input id='art_taetigkeit' type='text' name='art_taetigkeit' class='input_field'>
    <input id='submit' type='submit' name='submit' class='submit'>
  </form>
</body>
</html>