<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Form Page 4</title>
</head>

<body>
    <input id="date" type="text" name="date" class=page4>

    <input id="bezeichnung4" type="text" name="bezeichnung4" class=page4>
    <input id="strasse_hausnummer5" type="text" name="strasse_hausnummer5" class=page4>
    <input id="hausnummer8" type="text" name="hausnummer8" class=page4>
    <input id="hausnummer_zusatz8" type="text" name="hausnummer_zusatz8" class=page4>
    <input id="adressergaenzung7" type="text" name="adressergaenzung7" class=page4>
    <input id="postleitzahl13" type="text" name="postleitzahl13" class=page4>
    <input id="wohnort5" type="text" name="wohnort5" class=page4>
    <input id="tel_intern_vorwahl5" type="text" name="tel_intern_vorwahl5" class=page4>
    <input id="vorwahl_tel5" type="text" name="vorwahl_tel5" class=page4>
    <input id="rufnummer_tel5" type="text" name="rufnummer_tel5" class=page4>
    <input id="bezeichnung5" type="text" name="bezeichnung5" class=page4>
    <input id="strasse_hausnummer6" type="text" name="strasse_hausnummer6" class=page4>
    <input id="hausnummer9" type="text" name="hausnummer9" class=page4>
    <input id="hausnummer_zusatz9" type="text" name="hausnummer_zusatz9" class=page4>
    <input id="adressergaenzung8" type="text" name="adressergaenzung8" class=page4>
    <input id="postleitzahl14" type="text" name="postleitzahl14" class=page4>
    <input id="wohnort7" type="text" name="wohnort7" class=page4>
    <input id="tel_intern_vorwahl6" type="text" name="tel_intern_vorwahl6" class=page4>
    <input id="vorwahl_tel6" type="text" name="vorwahl_tel6" class=page4>
    <input id="rufnummer_tel6" type="text" name="rufnummer_tel6" class=page4>

    <input id="amtsgericht" type="text" name="amtsgericht" class=page4>
    <input id="registernummer" type="text" name="registernummer" class=page4>
    
    <input id="vorheriges_unternehmen" type="text" name="vorheriges_unternehmen" class=page4>
    <input id="name5" type="text" name="name5" class=page4>
    <input id="vorname5" type="text" name="vorname5" class=page4>
    <input id="strasse6" type="text" name="strasse6" class=page4>
    <input id="hausnummer10" type="text" name="hausnummer10" class=page4>
    <input id="hausnummer_zusatz10" type="text" name="hausnummer_zusatz10" class=page4>
    <input id="adressergaenzung9" type="text" name="adressergaenzung9" class=page4>
    <input id="postleitzahl15" type="text" name="postleitzahl15" class=page4>
    <input id="ort8" type="text" name="ort8" class=page4>
    <input id="finazamt3" type="text" name="finazamt3" class=page4>
    <input id="steuernummer10" type="text" name="steuernummer10" class=page4>
    <input id="ustid" type="text" name="ustid" class=page4>

</body>

</html>