<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Form Page 5</title>
</head>

<body>
    <input id="art" type="text" name="art" class="page5">
    <input id="ort2" type="text" name="ort2" class="page5">
    <input id="steuernummer11" type="text" name="steuernummer11" class="page5">
    <input id="finazamt4" type="text" name="finazamt4" class="page5">
    <input id="ustid2" type="text" name="ustid2" class="page5">
    <input id="datum14" type="text" name="datum14" class="page5">
    <input id="datum15" type="text" name="datum15" class="page5">
    <input id="betrag" type="text" name="betrag" class="page5">
    <input id="betrag2" type="text" name="betrag2" class="page5">
    <input id="betrag3" type="text" name="betrag3" class="page5">
    <input id="betrag4" type="text" name="betrag4" class="page5">
    <input id="betrag5" type="text" name="betrag5" class=page5>
    <input id="betrag6" type="text" name="betrag6" class=page5>
    <input id="betrag7" type="text" name="betrag7" class=page5>
    <input id="betrag8" type="text" name="betrag8" class=page5>
    <input id="betrag9" type="text" name="betrag9" class=page5>
    <input id="betrag10" type="text" name="betrag10" class=page5>
    <input id="betrag11" type="text" name="betrag11" class=page5>
    <input id="betrag12" type="text" name="betrag12" class=page5>
    <input id="betrag13" type="text" name="betrag13" class=page5>
    <input id="betrag14" type="text" name="betrag14" class=page5>
    <input id="betrag15" type="text" name="betrag15" class=page5>
    <input id="betrag16" type="text" name="betrag16" class=page5>
    <input id="betrag17" type="text" name="betrag17" class=page5>
    <input id="betrag18" type="text" name="betrag18" class=page5>
    <input id="betrag19" type="text" name="betrag19" class=page5>
    <input id="betrag20" type="text" name="betrag20" class=page5>
    <input id="betrag21" type="text" name="betrag21" class=page5>
    <input id="betrag22" type="text" name="betrag22" class=page5>
    <input id="betrag23" type="text" name="betrag23" class=page5>
    <input id="betrag24" type="text" name="betrag24" class=page5>
    <input id="betrag25" type="text" name="betrag25" class=page5>
    <input id="betrag26" type="text" name="betrag26" class=page5>
    <input id="betrag27" type="text" name="betrag27" class=page5>
    <input id="betrag28" type="text" name="betrag28" class=page5>
    <input id="betrag29" type="text" name="betrag29" class=page5>
    <input id="betrag30" type="text" name="betrag30" class=page5>
    <input id="betrag31" type="text" name="betrag31" class=page5>
    <input id="betrag32" type="text" name="betrag32" class=page5>
    <input id="betrag33" type="text" name="betrag33" class=page5>
    <input id="betrag34" type="text" name="betrag34" class=page5>
    <input id="betrag35" type="text" name="betrag35" class=page5>
    <input id="betrag36" type="text" name="betrag36" class=page5>

    <input id="sonstiges" type="text" name="sonstiges" class="page5">

    <input id="insgesamt" type="text" name="insgesamt" class=page5>
    <input id="insgesamt2" type="text" name="insgesamt2" class=page5>
    <input id="insgesamt3" type="text" name="insgesamt3" class=page5>
    <input id="insgesamt4" type="text" name="insgesamt4" class=page5>
</body>

</html>