<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Test Page</title>
    <script src=script.js ></script>
    <link rel="stylesheet" type="css" href="styles.css">
    <style>
      .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      </style>

  </head>
  <body>
    <main>
        <button class="start">Click me</button>
        <div id="formSpace">

        </div>
        <div id="submitAllSpace">
            
        </div>
    </main>
  </body>
</html>