.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
};

.card {
  background-color: blueviolet;
  max-width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
};

input{
  padding : 12px, 12px;
  border: none;
  border-bottom: 2px solid black;
};

html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
p {color: green}