
/****** General Styles *********/
*{
  margin: 0;
  padding: 0;
}

html { 
  font-family: sans-serif; 
  background: #eee;
}

body {
  background: rgb(41, 41, 41);
}

h1 {
  margin: 0.5rem auto 0.5rem auto; 
  font-family: sans-serif; 
  color: #ffffff;
}

p {
  font-family: sans-serif; 
  color: black;
  text-align: center;
}

/****** Navigation Style *********/
.navigation {
  background-color: rgb(124, 124, 124);
  width: 100%;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  display: inline-block;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 1em;
}

/****** Body Style *********/
/*   Grid   */
.grid {
  margin: 10em auto 12em auto;
  width: 60em;
  height: 30em;
  display:grid;
  grid-template: 1fr / 1fr 2fr;
  box-shadow: 10px 10px 5px black;
  overflow: hidden;
}

.textSide{
  width:100%;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: rgb(153, 51, 51);
}

/*   Form Side Grid   */
.formSide{
  width: 100%;
  background-color: grey;
  margin: 0 auto;
  padding: 0 ;
  display: grid;
  grid-template: 1fr 60% 1fr/ 1fr;
  grid-gap: 1em;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.title{
  width: 100%;
  height:100%;
  grid-area: 1 / 1 /span 1 /span 1;
  /*background-color: aqua;*/
  display: grid;
  justify-content: center;
  align-content: center;
}

.form {
  width:100%;
  height:100%;
  grid-area: 2 / 1 /span 1 /span 1;
  background-color: peru;
  display: grid;
  align-items: center;
  justify-items: stretch;
}

form{
  justify-self: center;
  display: inline-block;
}

.button{
  width:100%;
  height:100%;
  grid-area: 3 / 1 /span 1 /span 1;
  /*background-color: olive;*/
  display: grid;
  justify-content: center;
  align-content: top;
}

.centerButton{
  display: inline;
}

.yesNo{
  margin: 2em auto;
}



/* Special Cases */


.yNQuestion{
  display: grid;
  margin: 7em auto;
  justify-items: center;
  align-items: center;
}

#yesNoBtn{
  border: none;
  background-color: rgb(73, 73, 73);
  text-decoration: none;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  transition-duration: 0.4s;
  margin: 0.5rem auto 1rem auto;
  /*box-shadow: 1px 1px 1px black;*/
}

#yesNoBtn:hover{
  background-color: rgb(131, 131, 131);
}

/*   Input   */
input[type=text]{
  margin: 1em auto;
  border: none;
  background: white;
  border-bottom: 1px solid rgb(73, 73, 73);}


/*   Buttons   */
#submit{
  border: none;
  background-color: rgb(73, 73, 73);
  text-decoration: none;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  transition-duration: 0.4s;
  margin: 0.5rem auto 1rem auto;
  /*box-shadow: 1px 1px 1px black;*/
}

#submit:hover{
  background-color: rgb(131, 131, 131);
}

#back{
  border: none;
  background-color: rgb(73, 73, 73);
  text-decoration: none;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  transition-duration: 0.4s;
  margin: 0.5rem auto 1rem auto;
  /*box-shadow: 1px 1px 1px black;*/
}

#back:hover{
  background-color: rgb(131, 131, 131);
}


/****** Footer Style *********/
footer {
  margin-top: 2em;
  background-color: rgb(41, 41, 41);
  color:white;
  text-align: center;
  height: 100px;
}